/*-- Glöm inte att skaffa framework for slider: react-slick --/

/*-- Css Content for DARE -- */

* {
    box-sizing: border-box;
}

body {
    Background-color: #F30D29;
    font-family: Roboto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    margin: auto;
    }
    

    .mainContentDiv {
    width: 375px; 
    margin: auto; 
    text-align: center;
    }

    .mainContentDivInput{
        width: 80%; 
        margin: auto; 
        text-align: left;
        margin-left: 10%;

    }
    
/*-- Text --*/

/*-- End Text --*/

/* -- Menu -- */

.menu   {
background-color: black; 
color: white;
height: 50px;
padding-top: 4%;
}

.menuLink{
color:white;
text-decoration: none;
padding-left: 10px;
padding-right: 10px;
}

.menuLink:link {
}

.menuLink:visited {
color: white;
}

.menuLink:hover {
}

.menuLink:active {
}

/* -- End Menu -- */



    /* -- Swipe -- */
    /*-- Ska bara användas för swipefunktionen på startsidan --*/
    
    .swipeContent {
    color: white; 
    margin: auto; 
    text-align: center;
    margin-bottom: 50px;
    max-width: 375px; /*Iphone X*/
    }
    
    .swipeDiv {
    margin-top: 4%;      
    }
    
    .logo { 
    margin: auto;
    margin-bottom: 40px;
    background-color: black;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    }
    
    .swipeIcon {
    margin: auto;
    margin-bottom: 40px;
    background-color: black;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    }
    
    .swipeHeader {
    font-size: 1.75rem;    
    }
    
    .swipeText {
    font-size: 1.25;
    line-height: 1.75;
    margin-bottom: 50px;
    max-width: 80%;
    margin-left:auto;
    margin-right:auto;
    }
    
    .swipeRight {
    height: 100px;
    margin-bottom: 20px;
    }
    
    /* -- End Swipe -- */
    
    


    
    
    /*--  Buttons --*/
    
    
    .buttonStandard {
    width: 80%;
    text-align: center;
    font-size: 1.5rem; 
    margin-top: 20px;
    color: black; 
    background-color: white;
    padding: 15px;
    border: none;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    }

    .buttonStandardBlack {
        width: 80%;
        text-align: center;
        font-size: 1.5rem; 
        margin-top: 20px;
        color: white; 
        background-color: black;
        padding: 15px;
        border: none;
        box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
        }
    

 .buttonStandardBlack {
        width: 100%;
        text-align: center;
        font-size: 1.5rem; 
        margin-top: 20px;
        color: white; 
        background-color: black;
        padding: 15px;
        border: none;
        box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
        }        
    /*--  End Buttons --*/
    
    

    
    
    
    /*-- Input Form --*/
    
    .input {
    width: 100%; 
    margin: auto;
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    border:none;
    padding: 15px;
    font-size: 1.5rem; 
    color: black;
    margin-bottom: 15px;
    margin-top: 5px;
    }

    .inputFieldText {
    font-size: 1rem;   
    margin-left: 0px;
    text-align: left; 
    color: white;
    }

    .input[type=text]:focus {
        
    }
    
    /*-- End Form --*/



    .test   {
    

    }

        
    /*-- Slider --*/
    .slider {
        -webkit-appearance: none;
        width: 100%;
        height: 10px;
        border-radius: 2px;   
        background: white;
        outline: none;

        margin-bottom: 15px;
        margin-top: 5px;
        box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
        
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 30px;
        height: 30px;
        border-radius: 100%; 
        background: url('./components/img/blackdarelogo.svg');
        background-color: black;
        box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);

        background-size: 100%;

        cursor: pointer;
        
    }
    
    .slider::-moz-range-thumb {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        background: url('./components/img/blackdarelogo.svg');
        background-color: black;
        box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);

        background-size: 100px;
        
        cursor: pointer;
    }
    
        /*-- End Slider --*/

        